{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<style>
    body 
    {
        background-color: cornflowerblue; 
    }
</style>
<body>

    <h6><p style="color: hotpink"> This website was created by me~<br /> Here are same details: <br /><br /><br /> </p></h6>
    <strong>Name: <mark><u><b>Lioni Angel~ </b></u></mark></strong>
    <br />
    <strong>Email: <u> hermeni259@gmail.com </u></strong>
    <br />
    <strong>School: <u>Tichonet</u></strong>
    <br />
    <strong>Grade: <u>10th</u></strong>
    <br />
    <strong>Age: <u>15</u></strong>

</body>
<center> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQfvI6GTaE2KNowHHzlXz-RuT0AnMFmS3NAohbhXaA8rnBSIYUg" /></center>


{% endblock %}
