{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>


<img src="https://cdn.cnn.com/cnnnext/dam/assets/180715192040-mbappe-world-cup-exlarge-169.jpg" width="410" height="200" />
<img src="https://media.contentapi.ea.com/content/dam/ea/easports/fifa/features/2018/world-cup-announce-april-30/trophy-hero/f18wc-features-trophy-hero-bg-xs.jpg" width="280" height="200" />
<img src="https://img.fifa.com/image/upload/t_l4/wrhug8uxqnwqo6ewmy7k.jpg" width="420" height="200" />

<br />
<br />
<br />
<br />
<br />

<ul>
    <li><h4>link for the Data Page of the 2018 FIFA World Cup Squads</h4></li>
    <li><h5>*Contains the Squad details for all 32 teams participating in the 2018 FIFA World Cup</h5></li>
</ul>
<center><a href="https://www.kaggle.com/cclayford/2018-fifa-world-cup-squads/download" target="_blank"> 2018 FIFA World Cup Squads~Download</a></center>
<center><a href="file:///C:/Users/User/Desktop/%E2%80%8F%E2%80%8FLIONI%2012002.html" target="_blank"> 2018 FIFA World Cup Squads~</a></center>
<center><a href="https://www.kaggle.com/ourprettylilasmr/2018-fifa-world-cup/edit" target="_blank"> 2018 FIFA World Cup Squads~</a></center>
<center><a href="https://www.kaggle.com/cclayford/2018-fifa-world-cup-squads/data#" target="_blank"> 2018 FIFA World Cup Squads~</a></center>
<center><a href="https://www.kaggle.com/ourprettylilasmr/kernel6ac7d30c61/edit" target="_blank"> 2018 FIFA World Cup Squads~</a></center>

{{ raw_data_table | safe}}

{% endblock %}
