{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>FIFA World Cup</h1>
    <center><img src="https://4.bp.blogspot.com/-kWOTix9YKPE/WzfRRNpt1iI/AAAAAAAAImU/tvgCIIXjFAgQ47PKMxplOlB35DnQ2SZMwCLcBGAs/s1600/Copa%2BMundial%2BRusia%2B2018%2B256x%2B%25281%2529.png" /></center>
    <p class="lead"><br /><br />The <sub>Fédération Internationale de Football Association</sub> / <b>(FIFA) </b> World Cup, is an international <a href="https://en.wikipedia.org/wiki/Association_football"> association football </a> competition, contested by the senior <a href="https://en.wikipedia.org/wiki/List_of_men%27s_national_association_football_teams"> national teams </a> of the members of the <b>FIFA, the sport's global governing body</b>. <br />The campionships has been awarded every 4 years since the <a href="https://en.wikipedia.org/wiki/1930_FIFA_World_Cup"> inaugural tournament in 1930</a> ~!</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<br />
<br />
<br />

<h2>My Data Set:</h2>
<h4>I choose that my project will be about the 2018 World Cup Squads </h4>
<h4>On this year the championship was at Russia, the previous winner at the world cup </h4>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSM1ee_yPpDlZ61fhJID6S2sO_m3uHfWSS1N7xg_qk8yMSq0sY" /> 

<br /><br /> <br />

<h2>The World Cup of 2018:</h2>
<img src="https://t.resfu.com/media/img_news/captura-de-imagen-del-telstar18--el-balon-del-proximo-mundial-de-rusia-2018--adidas.jpg" />
<h2>On this photo, you can see the <b>championship world cup</b>, that France took</h2>

<br />
<br />

<h2>Harry Kane:</h2>
<img src="https://i2-prod.football.london/incoming/article17321527.ece/ALTERNATES/s615/0_GettyImages-1190247792.jpg" />
<img src="https://lh4.googleusercontent.com/NLfSHh5MuEZNdVSysN6PFOx3m_qiilujXsl4_OqTos559qd3-Doly6vf69OhTvTsP5TPWDBLinfk1Cb7zBSYyUjl0K5ceWUXOlAiNdxEHK4Ym8QFzyQo1ozwV2ZpxDLVZmC6vqi24gU" />
<h2> Harry Kane was the player who scored 6 times, the most goals at the 2018 World Cup</h2>
<p><a class="btn btn-default" href="https://youtu.be/Wojw0FodLPw">Harry Kane's goals &raquo;</a></p>

<br />
<br />

{% endblock %}
