{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<br /><br /><br />

<p>~</p>
    <table>

        <tr>
            <td>
                <label for="FirstName">First name:  </label>
            </td>
            <td>
                <input id="FirstName" name="FirstName" required type="text" value="">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="LastName">Last name:  </label>
            </td>
            <td>
                <input id="LastName" name="LastName" required type="text" value="">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="PhoneNum">Phone number:  </label>
            </td>
            <td>
                <input id="PhoneNum" name="PhoneNum" required type="text" value="">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="EmailAddr">E-Mail:  </label>
            </td>
            <td>
                <input id="EmailAddr" name="EmailAddr" required type="text" value="">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="username">User name:  </label>
            </td>
            <td>
                <input id="username" name="username" required type="text" value="">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Pass word:  </label>
            </td>
            <td>
                <input id="password" name="password" required type="password" value="">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="input submit">
                    <input type="submit" value="Register">
                </div>
            <td>
            <td></td>
        </tr>
    </table>

    <p>And that's it!</p>

{% endblock %}